<section class="login">
    <div class="container">
      <h3 class="text-white text-center p-4 mb-4 fw-bold">Login</h3>
    
        <div class="mb-3">
          <label class="form-label text-white fw-bold">* Email</label>
          <input type="text" class="form-control"  name="email" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <label class="form-label text-white fw-bold">* Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="password">
        </div>
        <div class="buttons mb-3">
          <input class="btn btn-danger sign-in" type="submit" value="Login" (click)="login()">
          <p class="text-white text-center text-uppercase fw-bold">Or</p>
          <button (click)="signInWithGoogle()" class="btn btn-warning " >Login With    <img src="../../../assets/images/icons8-google-48.png" alt="" height="24px" width="24px"></button>
        </div>
        <div class="register">
          <h5 class="text-white text-center fw-bold">No GOOGLE account or not a member?</h5>
          <a class="btn btn-primary d-flex justify-content-center register" routerLink="/register">Create account</a>
        </div>
     
    </div>
  </section>

  